.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.Edit {

}

.Edit label {
    display: block;
    color: #857d7d;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #faad6e;
}

.Edit button:hover,
.Edit button:active {
    color: #815881;
}

.Edit button.Delete {
    color: #e05b5b;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: #753a3a;
}